body {
    margin: 0;
    padding: 0;
    background: url(../img/fondocom.png) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-compr {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-compr .past {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-compr h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-compr label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-compr input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-compr input[type="text"], .login-compr input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(190, 241, 6);
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-compr input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-compr input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
