@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz&display=swap');
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: url(../img/banner.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
h1, h2, {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

/*Estilos del header*/
.header {
    height: 60px;
}
.header .contenedor {
    display: flex;
    justify-content: space-between;
}
.logo, .icon-menu {
    margin: 5px;
    color: #000000;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: rgb(25, 130, 251);
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

/*Estilos del menu*/
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link {
    display: block;
    padding: 15px;
    background: rgb(25, 251, 100);
    text-decoration: none;
    color: #fff;
}
.menu__link:hover {
    background: white;
    color: #FBA919;
}
.mostrar {
    left: 0;
}

.select {
    background: white;
    color: #FBA919;
}
/*Estilos del banner*/
.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #000000;
    text-align: center;
}
.banner__txt {
    display: none;
}

